*~
*.o
*.bmp
*.png
a.out
cpl
mandel
mandel_ca
mandel_ext
mandel_sine
mandel_iter
mandel_iter02
mandel_ext_anim
newton01
.sconsign*
*.swp
elliptic_test
mandel_iter03
mandel_quad
mandel_quad02
mandel_quad03
moire01
moire02
mandelmoire01_v01
mandelmoire01_v02
mandelmoire02
newton02
tan_weird01
theta_functions
